<h3>Products</h3>

<table class="table">
  <thead>
    <tr>
      
      <th>Item Num</th>
      <th>Name</th>
      <th>Unit Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td> ITM-00001 </td>
      <td> Men's Belts</td>
      <td> 3.00 </td>
    </tr>
    <tr>
      
      <td> ITM-00002 </td>
      <td> Men's shoes</td>
      <td> 50.00 </td>
    </tr>
    <tr>
      <td> ITM-00003 </td>
      <td> Women's Shoes</td>
      <td> 24.99 </td>
    </tr>
    <tr>
      <td> ITM-00004 </td>
      <td> Azaa Shirt</td>
      <td> 89.00 </td>
    </tr>
    <tr>
      <td> ITM-00005 </td>
      <td> Some expensive thing</td>
      <td> 120.00 </td>
    </tr>
    <tr>
      <td> ITM-00006 </td>
      <td> Men's Jeans</td>
      <td> 110.99 </td>
    </tr>
  </tbody>
</table>
