<h3>Sales</h3>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Sale ID</th>
      <th>Total Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Mon 14th Jan, 2013 @ 13:30</td>
      <td> SAL-00001 </td>
      <td> 300.00 </td>
    </tr>
    <tr>
      <td> Mon 14th Jan, 2013 @ 14:20</td>
      <td> SAL-00002 </td>
      <td> 300.00 </td>
    </tr>
    <tr>
      <td> Mon 14th Jan, 2013 @ 16:45</td>
      <td> SAL-00003 </td>
      <td> 300.00 </td>
    </tr>
    <tr>
      <td> Tue 15th Jan, 2013 @ 11:10</td>
      <td> SAL-00004 </td>
      <td> 300.00 </td>
    </tr>
    <tr>
      <td> Tue 15th Jan, 2013 @ 13:15</td>
      <td> SAL-00005 </td>
      <td> 300.00 </td>
    </tr>
    <tr>
      <td> Tue 15th Jan, 2013 @ 14:19</td>
      <td> SAL-00006 </td>
      <td> 300.00 </td>
    </tr>
  </tbody>
</table>
