<ui-view></ui-view>

<h3>Suppliers
<a ui-sref=".new" class="pull-right btn btn-success">New</a>
</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Kofi Poku & Son's</td>
      <td> Address 1</td>
      <td> 02440909090</td>
    </tr>
    <tr>
      <td>Kofi Poku & Son's</td>
      <td> Address 2</td>
      <td> 02440707070</td>
    </tr>
    <tr>
      <td>Kofi Poku & Son's</td>
      <td> Address 3</td>
      <td> 02440505050</td>
    </tr>
    <tr>
      <td>Kofi Poku & Son's</td>
      <td> Address 4</td>
      <td> 02440303030</td>
    </tr>
    <tr>
      <td>  Kofi Poku & Son's</td>
      <td> Address 5</td>
      <td> 02440101010</td>
    </tr>
  </tbody>
</table>