<div class="sidebar">
  <ul class="nav nav-sidebar">
    <li> <a href="" class="side-caption"> APPS </a> </li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Main</a></li>
    <li><a href="#/app/pos">Pos</a></li>
    <li><a href="#/app/inventory">Inventory</a></li>
    <li><a href="#">Export</a></li>
  </ul>

  <ul class="nav nav-sidebar">
    <li> <a href="" class="side-caption"> CHILD APPS </a> </li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="#/childapps/pos">Pos</a></li>
    <li><a href="#/childapps/inventory">Inventory</a></li>
  </ul>
</div>